/* import font */
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}
/* root */

:root {
  /* colors */
  --col-white: #ffffff;
  --col-black: #000000;
  --col-Navy950: #303b59;
  --col-Navy200: #cac9ff;
  --col-Navy50: #ecf2ff;
  --col-Blue800: #1125d6;
  --col-Blue50: #f3f4fd;
  --col-Yellow400: #ffb21e;
  --col-Yellow50: #fffbf4;
  --col-Red400: #ff5555;
  --col-Red50: #fff6f6;
  --col-Green500: #00bb8f;
  --col-Green50: #f2fcf9;

  /* typography */
  --txt-xxlg: 72px;
  --txt-xlg: 56px;
  --txt-lg: 32px;
  --txt-xmd: 24px;
  --txt-md: 18px;
  --txt-sm: 16px;
  /* line hight */
  --line-height: 130%;

  /* spacing */
  --spacing-0: 0px;
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-1000: 80px;
}

/* body */
body {
  font-family: "Hanken Grotesk", serif;
}

/* main */
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.result {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgb(102, 67, 254), rgb(51, 45, 236));
  padding: var(--spacing-400);
  border-radius: 0 0 32px 32px;
}

.result__score-container {
  background: linear-gradient(to bottom, rgb(71, 41, 213), rgb(71, 53, 236));
  width: 140px;
  height: 140px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.result__score {
  font-size: var(--txt-xlg);
  font-weight: 900;
  color: var(--col-white);
}
.result__of {
  color: var(--col-Navy200);
  font-size: 18px;
}
.result__title {
  color: var(--col-Navy200);
}
.result__explanation {
  width: 260px;
  text-align: center;
}
.result__explanation .result__performance {
  padding-bottom: var(--spacing-100);
  color: var(--col-white);
  font-size: var(--txt-lg);
}
.result__explanation .result__description {
  color: var(--col-Navy200);
  line-height: var(--line-height);
}
.summary {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: var(--spacing-400);
  padding-inline: 16px;
}
.summary .summary__title {
  align-self: flex-start;
  font-size: 20px;
  padding-inline: 16px;
  color: var(--col-Navy950);
}
.summary__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 315px;
  height: 56px;
  padding: 16px;
  border-radius: 12px;
  margin: var(--spacing-200) 0;
}
.summary__list--reaction {
  background-color: var(--col-Red50);
}
.summary__list--memory {
  background-color: var(--col-Yellow50);
}
.summary__list--verbal {
  background-color: var(--col-Green50);
}
.summary__list--visual {
  background-color: var(--col-Blue50);
}
.summary__header {
  display: flex;
  gap: 10px;
}

.summary__header .summary__category {
  font-weight: 600;
  font-size: var(--txt-md);
}
.summary__header--reaction {
  color: var(--col-Red400);
}
.summary__header--memory {
  color: var(--col-Yellow400);
}
.summary__header--verbal {
  color: var(--col-Green500);
}
.summary__header--visual {
  color: var(--col-Blue800);
}
.summary__result {
  color: var(--col-Navy200);
  font-size: var(--txt-md);
}
.summary__result .summary__span {
  color: var(--col-Navy950);
  font-weight: 700;
}

.summary__button {
  background-color: var(--col-Navy950);
  color: var(--col-white);
  padding: var(--spacing-200);
  min-height: 48px;
  text-align: center;
  width: 100%;
  font-size: var(--txt-md);
  font-weight: 600;
  border-radius: 128px;
  margin-top: var(--spacing-200);
  margin-bottom: var(--spacing-300);
  cursor: pointer;
}
.summary__button:hover {
  background-color: #1f2a48;
}

.summary__button:focus-visible {
  outline: 3px solid var(--col-Blue800);
  outline-offset: 3px;
}
/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  body {
    background-color: var(--col-Navy50);
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  main {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 688px;
    height: 512px;
    padding: 0;
  }

  .result {
    width: 50%;
    border-radius: 32px;
    gap: var(--spacing-400);
    height: 100%;
    border-radius: 32px 0 0 32px;
  }
  .result__score-container {
    width: 200px;
    height: 200px;
  }
  .result__score {
    font-size: var(--txt-xxlg);
  }
  .result__of {
    font-size: var(--txt-md);
  }
  .result__title {
    font-size: var(--txt-xmd);
  }
  .result__explanation {
    font-size: var(--txt-md);
    width: 200px;
  }
  .summary {
    width: 50%;
    padding: 40px;
    height: 100%;
    background-color: var(--col-white);
    border-radius: 0 32px 32px 0;
  }
  .summary .summary__title {
    margin: var(--spacing-300) 0 var(--spacing-100) 0;
  }
  .summary__list {
    font-size: var(--txt-xmd);
  }
  .summary__button {
    min-height: 54px;
  }
}
@media (min-width: 1024px) {
  main {
    width: 736px;
  }
  .result__explanation {
    width: 260px;
  }
  .result__explanation .result__performance {
    font-size: var(--txt-lg);
  }
  .summary .summary__title {
    font-size: var(--txt-xmd);
  }
  .summary__button {
    min-height: 60px;
  }
}
